
.魔法师 {
    fill: #d40000
}
.战士{
    fill: #4879c4
}


.a {
    fill: #d40000
}
.b{
    fill: #4f40c4
}
.c{
    fill: #4879c4
}
.d{
    fill: #9ddf90
}
.e{
    fill: #ffa114
}

.f {
    fill: #d46800
}
.g{
    fill: #3ef0c4
}
.h{
    fill: #b8a3c4
}
.i{
    fill: #0daf93
}
.j{
    fill: #cba116
}
